:80 {
    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}

:82 {
    handle /_event/* {
        reverse_proxy sgpredict:8000
    }
    handle /_upload {
        reverse_proxy sgpredict:8000
    }
    handle /* {
        reverse_proxy sgpredict:3000
    }
}

:83 {
    handle /_event/* {
        reverse_proxy dictconsistency:8000
    }
    handle /_upload {
        reverse_proxy dictconsistency:8000
    }
    handle /* {
        reverse_proxy dictconsistency:3000
    }
}

:84 {
    handle /* {
        reverse_proxy stopandgraph:80
    }
}

:85 {
    handle /* {
        reverse_proxy dictgraph:80
    }
}